.display-hide{
    display: none
}

.panel-primary > .panel-heading {
    background-color: #000000!important;
    border-color: #000000!important;
    color: #fff !important;
}

.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

div#s2id_product-product_category_id {
    padding: 0;
}

div#s2id_product-product_brand_id {
    padding: 0;
}

.select2-container .select2-choice{
    height: 40px;
    padding: 8px 4px 4px 8px;
    position: relative;
    top: -7px;
}

span.bootstrap-switch-handle-off.bootstrap-switch-default {
    background: #d9534f !important;
}
.nav-tabs>li>a{padding: 10px !important;}

.btn.blue:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #3598dc;
    border-color: #3598dc; }
.btn.green:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #32c5d2;
    border-color: #32c5d2; }

.btn.red:not(.btn-outline) {
    color: #ffffff;
    background-color: #e7505a;
    border-color: #e7505a; }


.seller_dashboard span.label.label-primary {
    padding: 8px;
}

.seller_dashboard span.label.label-danger {
    padding: 8px;
}

.seller_dashboard span {
    padding: 2px;
}

.file-upload-custom-input input.default {
    position: relative;
    top: -34px;
    height: 35px;
    width: 113px;
    opacity: 0;
}

/*
.seller_dashboard table > tbody>tr > td {
    padding: 11px;
}*/
