*{
  box-sizing: border-box;
  margin:0px;
}

body{
  background-color: #0A111B;
  overflow-x: hidden;
}
/*start font family*/
@font-face {
  font-family: 'exo';
  font-style:normal;
  font-weight:bold;
  font-display: swap;
  src:url("../fonts/exo.woff2");
}

@font-face {
  font-family: 'extrabold';
  font-style:normal;
  font-weight:600;
  font-display: swap;
  src:url("../fonts/extrabold.woff2");
}

/*end font family */

p{
  color: white;
  font-family: 'exo';
  font-style: italic;
}
.logo{
  width: 85px;
}

.banner{
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

.Flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li a{
  color: white;
  font-size: 13px;
  font-family: 'extrabold';
  font-weight:bold;
  text-transform: uppercase;
  font-style: italic;
}

ul li a:hover{
  color: #7A43AA;
}

.seacrhCon{
  border-radius: 50px;
  background-color: white;
}

.seacrhCon span{
  background: transparent;
  border: none;
}

.seacrhCon input{
  background: transparent;
  border: none;
}

.seacrhCon input:focus{
  background: transparent;
  border: none;
  outline: none;
}

.seacrhCon img{
  width: 15px;
}

.socil-icon{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding:0px 20px;
}

.socil-icon img{
  width: 30px;
  margin-left: 35px;
}

.heading{
  font-size: 5em;
  font-family: 'extrabold';
  color: white !important;
  font-style: italic;
  font-weight: bold;
  line-height: 1.08;
}

.banner p{
  text-transform: uppercase;
  font-size: 12px;
}

.banner .bbtn{
  outline: none;
  border: none;
  padding: 8px 40px;
  font-size: 12px;
  color:white;
  text-transform: uppercase;
  background-color: #7A43AA;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #7A43AA;
  transition: 0.5s;
}

.banner .bbtn:nth-child(2){
  margin-left: 20px;    
}

.banner .bbtn:hover{
 border: 1px solid #7A43AA;
 background: transparent;
}

.sbhfirst h2{
  font-size: 2.5em;
  font-family: 'extrabold';
  color: white !important;
  font-style: italic;
  font-weight: bold;
}

.tableChart{
  background:rgba(122,67,170,0.15);
}

.tableChart h5{
  font-family: 'extrabold';
  color: white !important;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 15px;
}

.tableChart ul{
  padding-left: 0px;
}

.tableChart li{
  color: white;
  font-family: 'exo';
  list-style: none;
  margin-bottom:15px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.tableChart img{
  width: 25px;
  cursor: pointer;
}

.clip{
  outline: none;
  font-family: 'extrabold';
  border: none;
  font-style: italic;
  padding: 8px 40px;
  font-size: 14px;
  color:white;
  text-transform: uppercase;
  background-color: #7A43AA;
  clip-path: polygon(13% 0%, 100% 0%, 94% 100%, 6% 100%);
  cursor: pointer;
  border: 1px solid #7A43AA;
  transition: 0.5s;

  text-align: center;
  position: relative;
}


.clipimgleft{
  position: absolute;
  left: 42.8%;
  transition: 0.5s;
}

.clipimgright{
  position: absolute;
  right:42%;
  transition: 0.5s;
}

.clipimg img{
  width: 70%;
}


/*media quries*/
@media(max-width:414px){
  .seacrhCon{
   width: 100%;
   margin-top: 15px;
 }

 .hdfrom{
  width: 100%;
}

.heading{
  font-size: 3em;
}

.socil-icon{
  width: 100%;
  display: flex;
  justify-content:center;
  padding:0px 20px;
  margin-top: 10px;
}

.socil-icon img{
  width: 30px;
  margin-left: 5px;
}

}

h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  padding: 0 70px;
}
.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 600px;
}
.carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {   
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}
.carousel-control-prev, .carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control-prev i, .carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}
.carousel-indicators li {   
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {    
  background: #555;       
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.previous {
  outline: none;
  border: none;
  padding: 8px 20px;
  font-size: 35px;
  color: white;
  background-color: #7A43AA;
  clip-path: polygon(26% 0%, 96% 0%, 75% 100%, 6% 100%);
  cursor: pointer;
  border: 1px solid #7A43AA;
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.fa-angle-left:before {
  content: "\f104";
  font-size: 23px;
  color: #fff;
  text-shadow: none;
}

.next {
  outline: none;
  border: none;
  padding: 8px 20px;
  font-size: 35px;
  color: white;
  background-color: #7A43AA;
  clip-path: polygon(26% 0%, 96% 0%, 75% 100%, 6% 100%);
  cursor: pointer;
  border: 1px solid #7A43AA;
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.fa-angle-right:before {
  content: "\f104";
  font-size: 23px;
  color: #fff;
  text-shadow: none;
}

.table td, .table th{
  border: none;
}
.table thead th {
  border: none;
}

/*.member-content {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    }*/

    .transfer{
      background-image: url("../images/Asset 111.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 85%;
      padding: 1% 0 1% 10%;
    }

    .transfer1{
      background-image: url("../images/Asset 26.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      padding: 1% 0 1% 10%;
    }

/*.member {
    z-index: 23;
}
.member img {
    width: 70%;
    margin-left: 30%;
    clip-path: polygon(13% 0%, 100% 0%, 63% 100%, 6% 100%);
}
.member-content {
    margin-left: -10%;
    }*/

    /* New Css here */


    .socil-icon a {
      width: 52px;
      position: relative;
      left: 22px;
    }

    .nav-top {
      position: relative;
      top: 10px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
      padding-left: 4px !important;
    }
    /* STRUCTURE */

    .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column; 
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding: 20px 20px 0 20px;
    }
    /* TABS */

    h2.inactive {
      color: #cccccc;
    }

    h2.active {
      color: #0d0d0d;
      border-bottom: 2px solid #5fbae9;
    }

    .second {
      background-color: #f6f6f6;
      border: none;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      border-radius: 50px;
    }
    .third {
      background-color: #f6f6f6;
      border: none;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      width: 85%;
      border: 2px solid #f6f6f6;
      border-radius: 50px;
    }
    .signthird 
    {
      background-color: #f6f6f6;
      border: none;
      color: #0d0d0d;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 5px;
      width: 60%;
      border: 2px solid #f6f6f6;
      border-radius: 50px;
    }

    input[type=text]:focus {
      background-color: #fff;
      border-bottom: 2px solid #5fbae9;
    }

    /* Simple CSS3 Fade-in Animation */
    .underlineHover:after {
      display: block;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 2px;
      background-color: #56baed;
      content: "";
      transition: width 0.2s;
    }

    #icon {
      width:60%;
    }
    .forgot {
      position: relative;
      left: 30px;
    }
    .submit a img {
      width: 70%;
      margin-top: 15%;
    }
    #formFooter a {
      color: #fff;
    }
    .form-center {
      position: relative;
      left: 22%;
    }
    .submit-sign a img {
      width: 70%;
      position: relative;
      left: 22%;
      top: 40px;
    }
    .submit-sign {
      position: relative;
      left: 15%;  
    }
    .contact-us p a {
      color: #fff;
    }


    /* Simple CSS3 Fade-in Animation */
    .underlineHover:after {
      display: block;
      left: 0;
      bottom: -10px;
      width: 0;
      height: 2px;
      background-color: #56baed;
      content: "";
      transition: width 0.2s;
    }

    #icon {
      width:60%;
    }
    .forgot {
      position: relative;
      left: 30px;
    }
    .submit a img {
      width: 70%;
      margin-top: 15%;
    }
    #formFooter a {
      color: #fff;
    }
    .form-center {
      position: relative;
      left: 22%;
    }
    .submit-sign a img {
      width: 70%;
      position: relative;
      left: 22%;
      top: 40px;
    }
    .submit-sign {
      position: relative;
      left: 15%;  
    }

    .diamond ul li {
     list-style: none;
     color: #fff;
   }
   .diamond ul li::before {
    content: "\2022";
    color: #7A43AA;
    font-size: 20px;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .member-content h3 {
    padding-left: 10%;
  }
  .member-content h5 {
    padding-left: 10%;
  }
  .member-content p {
    padding-left: 10%;
  }
  button#btn-login {
    outline: none;
    border: none;
    padding: 8px 40px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    background-color: #7A43AA;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #7A43AA;
    transition: 0.5s;
  }
  button#btn-signup {
    outline: none;
    border: none;
    padding: 8px 40px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    background-color: #7A43AA;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #7A43AA;
    transition: 0.5s;
    margin-left: 100px;
    margin-top: 20px;
  }
  .content-page label {
    color: #fff;
  }
  .content-page h3 {
    color: #fff;
  }
  .socil-icon.cnt-icon {
    justify-content: end;
  } 
  .cnt-icon a {
    left: 0px;
  }
  a.camp_link{
    color:#ffff; 
    text-decoration: none;
  }
  a.camp_link:hover{
    color:#7a43aa!important;
  }

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

td.stars img {
    width: 20px;
}
.col-md-4.stars img {
    width: 20px;
}